<div class="jumbotron" id="bookshelf-header">
  <div class="container">
    <img src="//cdn.shopify.com/s/files/1/0726/9203/t/3/assets/logo-classics.png?8182576256857352121" alt="NYRB Classics">
  </div>
</div>


<div class="row">
  <div class="col-md-12" id="book-count-banner">
    <% if current_user_bookshelf_check %>
      <h1> You have <span class="book-count"><%=@bookshelf.books.length%></span> out of <span class="book-count"><%=@catalog_length%></span> NYRB Classics</h1>
    </div>
  <div class="col-md-12" id="add-books-button">
    <%=link_to "add books", edit_bookshelf_path(@bookshelf), class: 'add-book-button' %>
  </div>
<% else %>
  <h1> <%= @user.email %> has <span class="book-count"><%=@bookshelf.books.length%></span> out of <span class="book-count"><%=@catalog_length%></span> NYRB Classics </h1>
  </div>
<% end %>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" id="sort-options">
  <p> Sort by:&nbsp;&nbsp;<button class="shelf-sort-button sort-collection-author">author</button>&nbsp;&nbsp;<button class="shelf-sort-button sort-collection-title">title</button>&nbsp;&nbsp;<button class="shelf-sort-button sort-collection-date-old">date added (<i class="fa fa-arrow-up" aria-hidden="true"></i>)</button>&nbsp;&nbsp;<button class="shelf-sort-button sort-collection-date-new">date added (<i class="fa fa-arrow-down" aria-hidden="true"></i>)</button>
</div>

  <div class="all-the-books">
    <div class="row">
    <%@bookshelf.books.each do |book| %>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 book-details">
          <div id="img-placeholder-<%=book.id%>">
            <img class="book-cover" src='<%=book.image%>' style=''></img><br>
          </div>
            <br>
            <a href="" class="more-book-info" id="<%=book.id%>">more information</a><br><% if current_user.bookshelf == @bookshelf %><a href=""><i class="fa fa-times delete-book <%=book.id%>" aria-hidden="true"></i></a> <%end%>
          </div>
      <%end%>
      </div>
    </div>

  <br>
